@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg-main: #0f172a;        /* slate-900 */
  --bg-card: #111827;        /* gray-900 */
  --bg-sidebar: #020617;     /* almost black */
  --border: #1f2937;
  --text-main: #e5e7eb;      /* gray-200 */
  --text-muted: #9ca3af;    /* gray-400 */
  --accent: #38bdf8;        /* sky-400 */
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: Inter, system-ui, sans-serif;
}
